<div class="flex flex-col">
    <div class="mx-auto">
        <%= search_form_for @query do |f| %>
            <%= f.select :room_name_cont, Measure.pluck(:room_name).uniq, prompt: "- Salles -" %>
            <%= f.select :measure_type_cont, Measure.pluck(:measure_type).uniq, prompt: "- Paramètres -" %>
            <%= f.submit "Ajouter Filtre" %>
            <%= link_to "Suprimer Filtre", measures_path %>
        <% end %>
    </div>
    <div>
        <%= render "chart", obj: @measures_co2 %>
    </div>
    <div>
        <%= render "chart", obj: @measures_voct %>
    </div>
    <div>
        <%= render "chart", obj: @measures_hum %>
    </div>
    <div>
        <%= render "chart", obj: @measures_tmp %>
    </div>
</div>
